@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%; }

header,
main,
footer {
  width: 100%;
  height: auto;
  position: relative; }

.gridContainer {
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto; }

h1 {
  font: normal 3.8rem 'AvenirNextCyr';
  color: #F4A876;
  line-height: 57px;
  text-transform: uppercase; }

h2 {
  font: normal 3.2rem 'AvenirNextCyr';
  color: #F4A876;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.05em; }

h3 {
  font: normal 1.8rem 'AvenirNextCyr';
  line-height: 25px;
  color: #5C5C5C; }

h4 {
  font: normal 1.6rem 'AvenirNextCyr';
  line-height: 22px;
  color: #787878; }

p {
  font: normal 1.6rem 'AvenirNextCyr';
  line-height: 24px;
  text-align: center;
  color: #000000; }

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }

button {
  cursor: pointer; }

.wrapper img {
  width: 100%; }

.colorOrange {
  color: #F4A876; }

/*--------------------------- header ---------------------------*/
.wrapper .header {
  width: 100%;
  height: 100px; }

.header .flex {
  height: 100%; }

.flex .navMob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative; }

.navMob .blockLogo {
  margin: 20px;
  position: absolute;
  left: calc(50% - 123px); }

.navMob .blockBasket {
  margin: 20px;
  position: absolute;
  right: 0; }

.basket .basketMoney {
  display: none; }

.basket .basketMeter {
  font: normal 1.4rem AvenirNextCyr;
  line-height: 19px;
  text-align: center;
  color: #f4a876;
  position: absolute;
  top: -14px;
  left: 14px; }

nav a {
  font: normal 400 1.6rem 'AvenirNextCyr';
  line-height: 22px;
  color: #FFFFFF; }

.menu-phone .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff; }

.menu-phone .navMenuUp {
  background: #ffffff; }

.one .blockSearch {
  margin: 15px 0;
  position: absolute;
  top: 0;
  left: 45px;
  z-index: 1; }

.one .blockMonLang {
  margin: 15px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  top: 5px;
  right: calc(50% - 600px); }

.blockMonLang form {
  margin-right: 5px; }

.navMenuUp a {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 19px;
  color: #F4A876; }

.callback .number {
  font: normal 1.6rem 'AvenirNextCyr';
  line-height: 22px;
  color: #5C5C5C; }

.blockCallback .linkWhite {
  padding: 12px 13px;
  border: 1px solid #F4A876;
  text-align: center;
  font: normal 1.6rem 'AvenirNextCyr';
  line-height: 22px;
  color: #F4A876; }

.linkWhite,
.callback {
  margin: 15px; }

.menu-phone .blockCallback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff; }

.blockMonLang form,
.loginLink {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 19px;
  color: #F4A876; }

.blockMonLang .loginLink {
  padding: 0; }

.blockSearch .formSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background: #ffffff; }

.formSearch input[type="search"]:hover {
  width: 225px; }

.blockSearch .formSearch:hover {
  border: .1rem solid #F4A876; }

.formSearch input[type="search"] {
  width: 0px;
  border-right: .5rem solid #E5E5E5;
  -webkit-transition-property: width, border;
  transition-property: width, border;
  -webkit-transition-duration: 2s, 2s;
          transition-duration: 2s, 2s;
  -webkit-transition-timing-function: ease, linear;
          transition-timing-function: ease, linear; }

.formSearch input[type="submit"] {
  text-indent: -9999px;
  width: 35px;
  height: 30px;
  background: url("../img/magnifying_glass 1.svg") right no-repeat;
  background-size: 70%; }

/*---------- navCategory destop -----------*/
.wrapper .navCategoryDestop {
  display: none;
  background: #F4A876;
  width: 100%;
  bottom: 0;
  position: absolute; }

.navCategoryDestop a {
  padding: 15px 10px;
  font: normal 1.6rem 'AvenirNextCyr';
  line-height: 22px;
  color: #FFFFFF; }

.navCategoryDestop a:hover {
  color: #C6713A; }

/*--------------- screenSlider ----------------*/
.wrapper .screenSlider {
  position: relative;
  /*width:100vw;*/
  margin-bottom: 40px; }

.screenSlider .blockText {
  position: absolute;
  padding: 40px 10px;
  z-index: 1; }

.blockText p {
  color: #FFFFFF;
  text-align: left; }

.blockText .text1 {
  font: normal 3.6rem 'AvenirNextCyr';
  margin-bottom: 60px;
  position: relative; }

.blockText .text1::after {
  position: absolute;
  content: '';
  width: 135px;
  height: 5px;
  z-index: 1;
  background-color: #F4A876;
  bottom: -30px;
  left: 0; }

.blockText .textBold {
  font: 800 3.6rem 'AvenirNextCyr'; }

.blockText .text2 {
  margin-bottom: 30px; }

.blockText .saleLink {
  padding: 15px;
  font: normal 1.6rem 'AvenirNextCyr';
  text-align: center;
  color: #ffffff;
  background: #F4A876;
  position: absolute;
  bottom: 15px; }

/*--------------- //screenSlider ----------------*/
/*--------------- newProduct -------------*/
.wrapper .newProduct {
  padding-bottom: 70px;
  -webkit-box-shadow: 0px 24px 75px rgba(244, 168, 118, 0.2);
          box-shadow: 0px 24px 75px rgba(244, 168, 118, 0.2); }

.newProduct .flex1 {
  border-top: .1rem solid #F4A876; }

.flex1 h2 {
  position: relative;
  width: 220px;
  top: -22px;
  margin: 0 auto;
  background: #fff; }

.textProd h3 {
  padding: 40px 10px;
  margin-right: 10px;
  text-align: left;
  border-bottom: .1rem solid #F4A876; }

.textProd .yesProd,
.textProd .maybeProd,
.textProd .notProd {
  position: relative;
  padding: 5px 30px;
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 15px;
  bottom: 14.5px;
  background: #ffffff;
  color: #52BD10; }

.textProd .maybeProd {
  color: #E7A806; }

.textProd .notProd {
  color: #ED5959; }

.yesProd i,
.maybeProd i,
.notProd i {
  width: 15px;
  height: 15px;
  margin-right: 5px; }

.textProd .yesProd i,
.textProd .maybeProd i,
.textProd .notProd i {
  background: url("../img/Component_1.svg") center no-repeat;
  position: absolute;
  left: 10px;
  width: 15px;
  height: 15px; }

.yesProd .yes {
  background: url("../img/Component_1.svg") center no-repeat; }

.maybeProd .maybe {
  background: url("../img/Component_2.svg") center no-repeat; }

.notProd .not {
  background: url("../img/Component_3.svg") center no-repeat; }

.textProd table {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 15px;
  color: #5C5C5C;
  width: 100%;
  height: 140px;
  padding: 10px; }

table tr {
  width: 100%;
  margin: 20px; }

table .producer {
  color: #F4A876; }

table tr td {
  width: 50%;
  margin: 20px 10px; }

table tr td:last-child {
  text-align: right; }

.textProd .blockPay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blockPay .size,
.blockPay .payLink {
  margin: 10px; }

.blockPay .size {
  font: normal 600 2.8rem 'AvenirNextCyr';
  line-height: 31px;
  color: #5C5C5C; }

.article .textProd {
  border: 1px solid #F0F0F0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.article:hover .textProd {
  border: none;
  -webkit-box-shadow: 0px 0px 20px rgba(244, 168, 118, 0.2);
          box-shadow: 0px 0px 20px rgba(244, 168, 118, 0.2);
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1); }

.article:hover .payLink {
  color: #fff;
  background-color: #F4A876; }

.blockPay .payLink,
.blockPay1 .payLink1 {
  font: normal 1.6rem 'AvenirNextCyr';
  letter-spacing: 0.15em;
  color: #F4A876;
  position: relative;
  border: .1rem solid #F4A876; }

.blockPay .payLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 35px 10px 63px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.payLink .basket {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 18px;
  bottom: 7px; }

.flex1 .meter {
  position: relative;
  width: 40px;
  height: 30px;
  font: normal 1.6rem 'AvenirNextCyr';
  color: #F4A876;
  left: calc(50vw - 20px);
  top: 20px; }

.meter span {
  font: normal 2.4rem 'AvenirNextCyr';
  line-height: 33px;
  letter-spacing: 0.055em;
  color: #F4A876; }

.article:hover i svg {
  fill: #ffffff;
  stroke: #ffffff; }

/*----------------------- //newProduct -----------------------*/
/*--------------- popularProduct -------------*/
.wrapper .popularProduct {
  margin-top: 105px;
  margin-bottom: 108px;
  height: 500px;
  position: relative;
  z-index: 1; }

.popularProduct .flex2 {
  border-top: .1rem solid #F4A876;
  position: relative;
  z-index: 2;
  height: 100%; }

.flex2 h2 {
  position: relative;
  width: 270px;
  top: -44px;
  margin: 0 auto;
  background: #fff; }

.slider2 .article1 {
  width: 300px;
  position: relative;
  margin: 5px auto;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.article1 .labelSale,
.article1 .labelNew {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 5;
  margin: 10px; }

.article1 .labelSale {
  background: url("../img/labelSale_icon.webp") center no-repeat; }

.article1 .labelNew {
  background: url("../img/labelNew_icon.webp") center no-repeat; }

.flex2 .slider2 {
  height: 450px;
  z-index: 3; }

.slider2 .slick-list {
  z-index: 4; }

/*---------- slider5 ---------*/
.article1 .slider5 {
  z-index: 1; }

.slider5 .slick-list {
  height: inherit; }

.slider5 .imgProd1 {
  width: 330px;
  height: 200px; }

.textProd1 h4 {
  position: relative;
  margin: 30px 10px;
  text-align: left; }

.article1 .slider5::after {
  position: absolute;
  display: block;
  content: '';
  background: url("../img/ornament.webp") center no-repeat;
  width: 132px;
  height: 9px;
  left: calc(50% - 66px);
  bottom: -20px; }

/*           скрывающаяся таблица для популярных товаров            */
.textProd1 table {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 15px;
  color: #5C5C5C;
  padding: 0 10px;
  width: 100%;
  height: 140px; }

.textProd1 table tr {
  width: 100%;
  margin: 20px; }

.textProd1 table .producer {
  color: #F4A876; }

.textProd1 table tr td {
  width: 50%;
  margin: 20px 10px; }

.textProd1 table tr td:last-child {
  text-align: right; }

.textProd1 table {
  display: none; }

.slider2 .article1:hover {
  z-index: 6;
  -webkit-transform: scaleY(1.02);
          transform: scaleY(1.02);
  -webkit-box-shadow: 10px 20px 70px rgba(244, 168, 118, 0.2);
          box-shadow: 10px 20px 70px rgba(244, 168, 118, 0.2);
  border: none; }

.slider2 .article1:hover table {
  display: table; }

/*              конец таблицы                 */
.textProd1 .yesProd,
.textProd1 .maybeProd,
.textProd1 .notProd {
  position: relative;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*padding:5px 30px; */
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 15px;
  bottom: 14.5px;
  background: #ffffff;
  color: #52BD10; }

.textProd1 .maybeProd {
  color: #E7A806; }

.textProd1 .notProd {
  color: #ED5959; }

.textProd1 .blockPay1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.article1:hover .payLink1 {
  color: #fff;
  background-color: #F4A876; }

.blockPay1 .payLink1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 13px 13px 53px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.payLink1 .basket {
  position: absolute;
  left: 15px;
  bottom: 5px; }

.blockPrice .oldSize1 {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 15px;
  color: #C4C4C4;
  position: relative;
  display: inline-block; }

.blockPrice .size1 {
  font: normal 600 2.4rem 'AvenirNextCyr';
  line-height: 26px;
  color: #5C5C5C; }

.blockPrice p {
  text-align: left; }

.blockPrice .oldSize1::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  top: 50%;
  background: #ED5959; }

.slider5 .slick-prev,
.slider5 .slick-next {
  /*width: 22px;
  height:32px;*/
  background: none;
  border: none;
  z-index: 5; }

.article1:hover .slider5 .slick-prev,
.article1:hover .slider5 .slick-next {
  width: 22px;
  height: 32px; }

.slider5 .slick-prev {
  background: url("../img/arrow_slider5_left.webp") center no-repeat;
  top: calc(50% - 16px);
  left: 20px; }

.slider5 .slick-next {
  background: url("../img/arrow_slider5_right.webp") center no-repeat;
  bottom: calc(50% - 16px);
  right: 20px; }

.article1:hover i {
  fill: #ffffff;
  stroke: #ffffff; }

/*----------------------- //popularProduct ----------------------*/
/*--------------- about -------------*/
.wrapper .about {
  background: linear-gradient(242.85deg, #FFFFFF 18.39%, rgba(255, 255, 255, 0) 57.47%), url("../img/back_popular.webp") top no-repeat;
  background-size: 100% 217px; }

.flex3 .blockText2 {
  text-align: right;
  padding: 220px 10px 0 10px; }

.blockText2 h1 {
  width: 95%;
  margin: 15px auto; }

.blockText2 p {
  width: 95%;
  margin: 15px auto;
  font: normal 1.6rem 'AvenirNextCyr';
  line-height: 24px;
  color: #000000; }

.blockText2 .link {
  position: relative;
  width: 250px;
  left: -20px;
  font: normal 600 1.6rem 'AvenirNextCyr';
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.15em;
  margin: 56px 0;
  padding: 15px;
  color: #F4A876;
  border: .1rem solid #F4A876; }

/*--------------- //about -------------*/
/*---------------- testimonials ---------------*/
.wrapper .testimonials {
  margin-top: 45px;
  margin-bottom: 90px; }

.testimonials .flex4 {
  border-top: .1rem solid #F4A876; }

.flex4 h2 {
  position: relative;
  top: -44px;
  width: 270px;
  margin: 0 auto;
  background: #ffffff; }

.slider3 .user {
  position: relative;
  text-align: center;
  margin: 50px 10px 30px 10px;
  padding: 15px 5px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5; }

.user .imgProd2 {
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  top: -45px;
  left: calc(50% - 45px);
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.user h4 {
  margin: 45px 0 15px 0;
  line-height: 22px;
  color: #F4A876; }

.user p {
  margin-bottom: 10px; }

.user .userName {
  font: normal 1.8rem 'AvenirNextCyr';
  line-height: 25px;
  text-align: center;
  color: #C4C4C4; }

.slider3 .slick-dots {
  bottom: -20px; }

/*---------------- //testimonials ---------------*/
/*----------------- lastPosts -----------------*/
.wrapper .lastPosts {
  margin-top: 45px;
  margin-bottom: 60px; }

.lastPosts .flex5 {
  border-top: .1rem solid #F4A876; }

.flex5 h2 {
  position: relative;
  margin-bottom: 45px;
  top: -44px;
  width: 270px;
  margin: 0 auto;
  background: #ffffff; }

.article3 h4 {
  margin: 24px 10px 10px 10px;
  padding-right: 20px; }

.article3 .blockLink {
  margin: 0 10px;
  position: relative;
  height: 20px; }

.blockLink .link {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #F4A876;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blockLink .arrowOrange {
  display: block;
  width: 18px;
  height: 10px;
  background: url("../img/arrowOrange_lastPosts.svg") center no-repeat;
  margin-left: 5px; }

/*----------------- //lastPosts -----------------*/
/*----------------- instagram ------------------*/
.mainContent .instagram {
  margin-top: 130px; }

.instagram .flex6 {
  border-top: .1rem solid #F4A876; }

.flex6 h2 {
  width: 310px;
  position: relative;
  top: -22px;
  margin: 0 auto;
  background: #ffffff; }

.flex6 .linkInsta {
  font: normal 1.6rem 'AvenirNextCyr';
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #C4C4C4;
  position: relative;
  top: -20px;
  left: calc(50% - 68.5px); }

.flex6 .fotoInst {
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 30px; }

.fotoInst::-webkit-scrollbar {
  width: 22px;
  /* 1 - вертикальный скроллбар */ }

.fotoInst::-webkit-scrollbar:horizontal {
  height: 6px;
  /* 1 - горизонтальный скроллбар */ }

.fotoInst::-webkit-scrollbar-track {
  background: rgba(244, 168, 118, 0.25);
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  /* 3 – трек */ }

.fotoInst::-webkit-scrollbar-track-piece {
  background: rgba(244, 168, 118, 0.25);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  /* 4 – видимая часть трека */ }

::-webkit-scrollbar-thumb {
  background: #F4A876;
  border-radius: 10px;
  /* 5 - ползунок */ }

.fotoInst .foto {
  position: relative;
  width: 120px;
  vertical-align: top;
  height: 125px; }

.fotoInst .foto::after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  bottom: 300px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(244, 168, 118, 0.7)), to(rgba(244, 168, 118, 0.7)));
  background: linear-gradient(0deg, rgba(244, 168, 118, 0.7), rgba(244, 168, 118, 0.7)); }

.foto:hover.foto::after {
  bottom: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.foto .goOver {
  width: 100%;
  display: block;
  text-align: center;
  position: absolute;
  bottom: -55px;
  z-index: 3;
  font: normal 1.8rem 'AvenirNextCyr';
  color: #ffffff;
  line-height: 25px;
  letter-spacing: 0.05em;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out; }

.foto .goOver::before {
  content: '';
  display: block;
  height: 32px;
  background: url("../img/inst_hover.webp") center no-repeat; }

.foto:hover .goOver {
  bottom: calc(50% - 27.5px); }

/*----------------- //instagram ------------------*/
/*--------------------------- foooter --------------------------*/
.wrapper .footer {
  background-color: #5C5C5C;
  padding: 40px 0;
  margin-top: 60px;
  position: relative; }

.flex7 .blockLogoFoot {
  margin: 0 auto;
  width: 200px;
  height: 50px; }

.blockLogoFoot .logoFoot {
  position: relative; }

.blockLogoFoot .logoFoot::after {
  content: '@ OBEREG 2014-2020';
  font: normal 1rem 'AvenirNextCyr';
  line-height: 14px;
  color: #FFFFFF;
  position: absolute;
  left: calc(50% - 51.5px);
  bottom: 0; }

.flex7 .navMenuDown {
  margin: 10px; }

.navMenuDown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap; }

.navMenuDown ul li {
  width: 50%;
  margin: 40px 0; }

.flex7 .sociatyLink {
  width: 155px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sociatyLink .whatsappLink,
.sociatyLink .instagramLink,
.sociatyLink .facebookLink {
  width: 25px;
  height: 25px; }

.sociatyLink .whatsappLink {
  background: url("../img/Whatsapp.webp") center no-repeat; }

.sociatyLink .instagramLink {
  margin: 0 30px;
  background: url("../img/instagram.webp") center no-repeat; }

.sociatyLink .facebookLink {
  background: url("../img/facebook.webp") center no-repeat; }

/*-------------------------- //foooter -------------------------*/
@media screen and (min-width: 375px) {
  .callback .number {
    letter-spacing: 0.1em; }
  .blockCallback .linkWhite {
    letter-spacing: 0.21em; } }

/*---------------------- @media 568px --------------------------*/
@media screen and (min-width: 568px) {
  .wrapper .about {
    background-size: cover; }
  .flex3 .blockText2 {
    padding: 0px 10px 0 10px; }
  .slider4 .article3 {
    width: 350px;
    margin: 5px auto; } }

/*---------------------- @media 667px --------------------------*/
/*---------------------- @media 768 --------------------------*/
@media screen and (min-width: 768px) {
  .wrapper .screenSlider {
    height: 500px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .slider1 .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0 60px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .wrapper .newProduct {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .article:hover .textProd {
    border: none;
    -webkit-box-shadow: 0px 0px 20px rgba(244, 168, 118, 0.2);
            box-shadow: 0px 0px 20px rgba(244, 168, 118, 0.2);
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1); }
  .article .imgProd {
    width: 43%; }
  .article .textProd {
    width: 45%; }
  .textProd h3 {
    padding-top: 20px; }
  .flex4 h2 {
    width: 441px;
    top: -22px; }
  .flex3 .blockText2 {
    padding: 15px 0; }
  .blockText2 .link {
    margin: 15px 0; }
  .fotoInst .foto {
    width: auto;
    height: auto; }
  .navMenuDown ul li {
    width: auto;
    margin: 0 auto; }
  .flex7 .navDown {
    margin: 50px auto; } }

/*---------------------- @media 1024 --------------------------*/
@media screen and (min-width: 1024px) {
  .article .textProd {
    padding: 20px; }
  .slider4 .article3 {
    width: 400px; } }

/*---------------------- @media 1280 --------------------------*/
/*---------------------- @media 1360 --------------------------*/
@media screen and (min-width: 1360px) {
  .wrapper .about {
    height: 850px; }
  .blockLogoFoot .logoFoot::after {
    top: 50px; }
  .wrapper .about {
    background-position: center; }
  .footer .flex7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex7 .navDown {
    width: 70%;
    height: 50px;
    margin: 15px auto; }
  .flex7 .sociatyLink {
    margin: 15px auto; }
  /*.menu-phone {
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }

    .menu-open-btn {
        display: none;
    }

    .menu-phone .navCategory {
        width: 98.9vw;
        position: absolute;
        //bottom: 0;
        bottom: -150px;
        height: 55px;
    }*/
  .navCategory .listCategory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 55px; }
  .listCategory .itemCategory {
    border-right: .1rem solid #FFC59E;
    margin-left: 0; }
  .listCategory .itemCategory:first-child {
    margin-left: 0; }
  .wrapper .header {
    height: 200px; }
  .menu-phone .navMenuUp {
    position: relative;
    left: 0;
    width: 100%;
    height: 50px; }
  ul.listMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .menu-phone .one {
    height: auto; }
  .navMob .blockLogo {
    top: 42px;
    left: 0; }
  .one .blockSearch {
    top: 50px;
    left: calc(50% - 455px);
    width: 350px; }
  .blockSearch .formSearch {
    width: auto;
    border: 1px solid #F4A876; }
  .formSearch input[type="search"]:hover {
    width: 100%; }
  .formSearch input[type="search"] {
    width: 100%;
    border-right: .2rem solid #E5E5E5;
    -webkit-transition-property: none;
    transition-property: none;
    -webkit-transition-duration: none;
            transition-duration: none;
    -webkit-transition-timing-function: none;
            transition-timing-function: none; }
  .menu-phone .blockCallback {
    position: absolute;
    background: none;
    top: 50px;
    left: calc(50% + 0px); }
  .wrapper .screenSlider {
    height: 700px; }
  .screenSlider .slider {
    height: 700px; }
  .screenSlider .slider .slick-track {
    height: 700px; }
  .slick-slide img.img2 {
    height: 700px; }
  .one .blockMonLang {
    z-index: 1; }
  .navMob .blockBasket {
    position: absolute;
    z-index: 2;
    top: 45px; }
  .blockBasket .basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  .basket img {
    width: auto; }
  .screenSlider .blockText {
    width: 536px;
    left: 380px;
    top: 100px; }
  .blockText .textBold {
    font-size: 4.8rem; }
  .basket .basketMoney {
    display: block; }
  .flex11 .blockText3 {
    padding: 0 50px; }
  /*.menu-phone .navCategory {
        display: none;
    }

    .wrapper .navCategoryDestop {
        display: block;
    }*/ }

.menu-phone {
  display: none;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  z-index: 3; }

.navMob button {
  background: none; }

.menu-phone .navCategory {
  background: #F4A876; }

.menu-phone a {
  padding: 15px 10px; }

nav a:hover {
  border-bottom: 2px solid; }

.menu-open-btn {
  margin: 20px 10px;
  position: relative;
  /*display: flex;*/
  width: 30px;
  height: 30px;
  font-size: 24px;
  z-index: 4; }

.menu-btn-line,
.menu-btn-line::before,
.menu-btn-line::after {
  position: absolute;
  left: 0;
  width: 30px;
  height: 1px;
  background-color: #5C5C5C; }

.menu-btn-line {
  width: 20px;
  height: 1px; }

.menu-btn-line::after {
  width: 26px; }

.menu-btn-line-active::after {
  width: 30px; }

.menu-btn-line::before,
.menu-btn-line::after {
  content: '';
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.menu-btn-line::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px); }

.menu-btn-line::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px); }

.menu-btn-line-active {
  height: 0; }

.menu-btn-line-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu-btn-line-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

/*---------------------- @media 1360 --------------------------*/
@media screen and (min-width: 1360px) {
  .menu-phone {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .menu-open-btn {
    display: none; }
  .menu-phone .navCategory {
    width: 98.9vw;
    position: absolute;
    bottom: -150px;
    height: 55px; }
  .navCategory .listCategory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 55px; }
  .menu-phone .navCategory {
    display: none; }
  .wrapper .navCategoryDestop {
    display: block; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  /*---------------------- @media 568px --------------------------*/ }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block;
    /*height: 100vh;*/
    height: 100%; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-slide img.img2 {
    display: none; }
  @media screen and (min-width: 568px) {
    .slick-slide img.img2 {
      display: block;
      height: 500px; }
    .slick-slide img.img1 {
      display: none; } }
  @media screen and (min-width: 768px) {
    .slick-slide img.img2 {
      /*height:50vh;*/ } }
  @media screen and (min-width: 1360px) {
    .slick-slide img.img2 {
      height: 700px; } }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;*/
/*$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;*/
/*$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;*/
/* Slider */
/* Icons
@if $slick-font-family=="slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
} */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  /*height: 20px;
    width: 20px;*/
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  /*background:#000000;*/
  color: transparent;
  /*top: 50%;*/
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  z-index: 1;
  left: 84px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: ""; }
    [dir="rtl"] .slick-prev:before {
      content: ""; }

.slick-next {
  z-index: 1;
  right: 84px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ""; }
    [dir="rtl"] .slick-next:before {
      content: ""; }

/*---------------------- @media 1360 --------------------------*/
@media screen and (min-width: 1360px) {
  .slider .slick-prev,
  .slider .slick-next {
    display: block; } }

.screenSlider .slider .slick-prev,
.screenSlider .slider .slick-next {
  width: 40px;
  height: 59px;
  bottom: 50%;
  background-color: none;
  display: none; }

.slider .slick-prev {
  background: url("../img/arrow_left_slide.svg") center no-repeat;
  left: 200px; }

.slider .slick-next {
  background: url("../img/arrow_right_slide.svg") center no-repeat;
  right: 200px; }

.slider1 .slick-prev,
.slider1 .slick-next {
  width: 30px;
  height: 30px;
  bottom: -70px; }

.slider1 .slick-prev {
  background: url("../img/arrow_left_newProd_slider.svg") center no-repeat; }

.slider1 .slick-next {
  background: url("../img/arrow_right_newProd_slider.svg") center no-repeat; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -50px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  /*left:calc(50% - 120px);*/ }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          /*opacity: $slick-opacity-on-hover;*/ }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 20px;
        height: 20px;
        border: .1rem solid #F4A876;
        border-radius: 50%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      background: #F4A876; }

/*------------- aboutUs --------------*/
.aboutUs .flex8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex8 .blockImg1 {
  width: 90%;
  margin: 0 auto; }

.textWhoWe h2 {
  font: normal 4.8rem 'AvenirNextCyr';
  line-height: 66px;
  letter-spacing: 0.05em;
  color: #F4A876; }

.textWhoWe p.history {
  font: normal 1.8rem 'AvenirNextCyr';
  line-height: 25px;
  color: #5C5C5C;
  margin: 10px; }

.textWhoWe .listFabric {
  text-align: center; }

.listFabric li.fabric {
  font: normal 1.8rem 'AvenirNextCyr';
  line-height: 30px;
  color: #F4A876;
  margin-right: 5px; }

.flex8 .textWhoWe {
  width: 90%;
  margin: 15px auto; }

/*------------- //aboutUs --------------*/
/*------------- blog --------------*/
.mainContent .blog {
  padding-top: 60px; }

.blog .flex10 {
  border-top: .1rem solid #f4a876;
  position: relative; }

.flex10 .blockBlogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 70px; }

.flex10 h2 {
  width: 250px;
  text-align: center;
  position: absolute;
  top: -22px;
  left: calc(50% - 125px);
  z-index: 1;
  background: #ffffff; }

.blockBlogs .post {
  width: 90%;
  margin: 30px auto; }

/*---------------------- @media 768 --------------------------*/
@media screen and (min-width: 768px) {
  .blockBlogs .post {
    width: 45%; } }

/*---------------------- @media 1360 --------------------------*/
@media screen and (min-width: 1360px) {
  .blockBlogs .post {
    width: 33%;
    margin: 2px; } }

/*------------- //blog --------------*/
/*------------- blogSingle --------------*/
.mainContent .blogSingle {
  position: relative; }

/*--.blogSingle .fotoLady {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 94.77%), linear-gradient(0deg, rgba(244, 168, 118, 0.25), rgba(244, 168, 118, 0.25)), url('../img/woman_24.jpg') top no-repeat;
	background-size: 100vw 350px;
	height:350px;
	width: 100%;
	position: absolute;
}--*/
.flex11 .blockText3 {
  position: relative;
  padding: 0 15px; }

.blockText3 h2 {
  font: normal 3.6rem 'AvenirNextCyr';
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #F4A876;
  margin: 15px auto; }

.blockText3 .text3 {
  font: normal 1.8rem 'AvenirNextCyr';
  line-height: 25px;
  color: #5C5C5C;
  margin: 10px;
  text-align: left; }

.blockText3 ul {
  margin: 10px; }

.blockText3 ul li {
  font: normal 1.8rem 'AvenirNextCyr';
  line-height: 25px;
  color: #B5B5B5; }

.flex11 .imgPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px auto; }

.wrapper .imgPost img {
  width: auto;
  height: 280px; }

/*---------------------- @media 1360 --------------------------*/
@media screen and (min-width: 1360px) {
  .flex11 .blockText3 {
    width: 80%;
    margin: 15px auto; } }

/*------------- //blogSingle --------------*/
/*-------------- CATALOG ------------*/
.wrapper .rowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap; }

.mainContent .banner {
  background: url("../img/catalog_img.png") center no-repeat;
  background-size: cover; }

/*.blockText4 h1 {
	font:normal 600  2.8rem 'AvenirNextCyr';
	line-height: 38px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}*/
.blockText4 p {
  font: normal 2rem 'AvenirNextCyr';
  line-height: 29px;
  color: #FFFFFF; }

.rowContainer h1 {
  font: normal 1.8rem 'AvenirNextCyr';
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #5C5C5C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.gridContainer .breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.breadcrumb .orangeDots {
  color: #F4A876; }

.breadcrumb li {
  padding: 5px; }

.breadcrumb li span {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #C4C4C4; }

.sidebar .sideMenu,
.sidebar .sidearea {
  margin: 30px 10px; }

.listSubCat .itemSubCat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.sideMenu .lineActCat {
  display: block;
  width: 29px;
  height: 1px;
  margin-right: 6px;
  background: #F4A876; }

.sideMenu .linkSubCat {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 19px;
  color: #C4C4C4; }

.sideMenu .linkSubCat:hover {
  color: #5C5C5C; }

.sideMenu .linkSubCat:active {
  color: #F4A876; }

.mainContent .banner {
  padding: 50px 10px;
  width: 100%; }

.blockText4 h1 {
  position: relative;
  margin-bottom: 30px; }

.blockText4 h1,
.blockText4 p {
  text-align: left; }

.blockText4 h1::after {
  position: absolute;
  content: '';
  width: 46px;
  height: 3px;
  background: #F4A876;
  bottom: -16px;
  left: 0; }

.sidearea .iconFiltr {
  margin-right: 8px;
  display: block;
  width: 19px;
  height: 19px;
  background: url("../img/filter_icon.svg") no-repeat center; }

.sidearea .iconArrow {
  margin-left: 5px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/filtr_arrow.svg") no-repeat center; }

.blockSortProd .select {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 19px;
  color: #F4A876;
  border: none; }

.mainContent .blockProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blockProduct .article1 {
  width: 300px;
  position: relative;
  margin: 5px auto;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  -webkit-transform-origin: 5px 10px;
          transform-origin: 5px 10px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.blockProduct .article1:hover {
  z-index: 6;
  -webkit-transform: scaleY(1.01);
          transform: scaleY(1.01);
  -webkit-box-shadow: 10px 20px 70px rgba(244, 168, 118, 0.2);
          box-shadow: 10px 20px 70px rgba(244, 168, 118, 0.2);
  border: none; }

.blockProduct .article1:hover table {
  display: table; }

.blockProduct .article1 .textProd1 {
  position: relative; }

.blockProduct .article1 table {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 0 10px;
  background: #fff; }

.textProd1 .maybeProd i {
  position: inherit; }

.textProd1 h4 a {
  font: normal 1.6rem 'AvenirNextCyr';
  line-height: 22px;
  color: #787878; }

.textProd1 h4 a:hover {
  color: #F4A876; }

.loadMoreLink .loadIcon {
  display: block;
  width: 15px;
  height: 15px;
  background: url("../img/loadMoreButton.png") center no-repeat;
  margin: 0 5px; }

.paginator .loadMoreLink {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 110%;
  /* or 15px */
  text-align: center;
  color: #F4A876;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  padding: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(244, 168, 118, 0.25);
          box-shadow: 0px 10px 20px rgba(244, 168, 118, 0.25); }

.pagination .buttonLeft {
  background: url("../img/Vector_left_botton_page.svg") center no-repeat;
  width: 4px;
  height: 8px; }

.pagination .buttonRight {
  background: url("../img/Vector_right_botton_page.svg") center no-repeat;
  width: 4px;
  height: 8px; }

.paginator .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination .paginationList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*---------------------- @media 1360 --------------------------*/
@media screen and (min-width: 1360px) {
  .mainContent .banner {
    background: url("../img/catalog_img2.jpg") center no-repeat;
    background-size: cover;
    height: 285px;
    padding: 91px 0 0 119px; }
  .wrapper .rowContainer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .sidebar .sideMenu,
  .sidebar .sidearea {
    margin: 0 10px; }
  .banner .blockText4 {
    width: 683px; }
  .blockText4 h1::after {
    width: 134px; }
  .rowContainer .sidebar {
    width: 328px; }
  .sidearea .iconArrow {
    display: none; }
  .blockProduct .article1 {
    margin: 5px 0; } }

/*-------------- //CATALOG ------------*/
/*----------- guarantee ------------*/
/*----------- //guarantee ------------*/
/*----------- delivery ------------*/
/*----------- //delivery ------------*/
/*----------- product_card ------------*/
.cardProduct .flex14 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: .1rem solid #E5E5E5; }

.flex14 .blockLeft {
  margin: 0 10px; }

.flex14 .blockLeft,
.flex14 .blockRight {
  width: 100%;
  margin: 0 auto; }

.flex14 .tabs {
  height: 200px;
  margin: 15px auto; }

.bread .homeLink {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/bread_home_img.png") center no-repeat; }

.tabs .listItemProd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.listItemProd a {
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #5C5C5C; }

.blockTable td {
  width: auto; }

.blockLeft .blockImg2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blockImg2 .imgProd3 {
  width: 300px;
  margin: 2px; }

.blockImg2 .mini {
  width: 95px; }

.blockSize .sizeProd {
  width: 34px;
  height: 31px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 19px;
  text-align: center;
  color: #5C5C5C;
  padding: 5px 0; }

.blockRight .blockUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 0 10px;
  padding-bottom: 10px;
  border-bottom: .1rem solid #F0F0F0; }

.blockUp h1 {
  font: normal 2.7rem 'AvenirNextCyr';
  line-height: 44px;
  color: #5C5C5C;
  width: 95%;
  text-align: left; }

.blockSize h4 {
  margin: 10px 0; }

.blockSize ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 10px 0; }

.blockSize ul li {
  margin: 5px; }

.blockUp .yesProd1 {
  width: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid #52BD10;
  padding: 10px;
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 110%;
  color: #52BD10; }

.blockRight .blockMedium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blockMedium .blockSize,
.blockMedium .blockPrice {
  width: 50%;
  margin: 10px; }

.blockMedium1 .blockPay1 .payLink1 {
  display: inline-block; }

.blockMedium .blockPrice {
  /*width: 120px;*/
  margin: 10px; }

.blockMedium .blockPrice .size1 {
  font-size: 3rem; }

.blockPrice .blockOldSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.blockMedium .blockPrice .oldSize1 {
  margin-right: 10px;
  text-align: right; }

.blockOldSize .labelSale {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: url("../img/labelSale_icon.png") center no-repeat; }

.blockMedium .blockPrice p {
  text-align: right; }

.blockRight .blockMedium1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.blockMedium1 .blockPay1 .payLink1 {
  text-align: right;
  background: #F4A876;
  color: #fff; }

.formCallback #backPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-bottom: 10px; }

#backPhone input {
  width: 50%;
  padding: 15px; }

#backPhone input[type="tel"] {
  border: 1px solid #E5E5E5;
  text-align: center;
  font: normal 1.4rem 'AvenirNextCyr';
  line-height: 110%;
  color: #5C5C5C; }

#backPhone input[type="submit"] {
  background: #fff;
  border: 1px solid #F4A876;
  font: normal 1.6rem 'AvenirNextCyr';
  line-height: 110%;
  color: #F4A876; }

#backPhone input[type="submit"]:hover {
  color: #ffffff;
  background: #F4A876;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 11px 2px 30px rgba(244, 168, 118, 0.25);
          box-shadow: 11px 2px 30px rgba(244, 168, 118, 0.25); }

.blockRight .blockTable {
  margin: 15px 0; }

.blockTable table {
  width: 100%;
  text-align: left;
  background: rgba(244, 168, 118, 0.05); }

.blockTable table {
  font: normal 1.2rem 'AvenirNextCyr';
  line-height: 19px;
  color: #C4C4C4;
  padding: 10px; }

.blockTable table tr {
  margin: 10px 0; }

.blockTable table td {
  margin: 0; }

.blockTable table tr td:last-child {
  text-align: left; }

.tabs .listItemProd {
  margin-bottom: 20px; }

.listItemProd li {
  padding: 10px; }

#fragment-4 .textEmail input {
  border: 1px solid #E5E5E5;
  padding: 15px; }

/*.ui-tabs-tab, .ui-corner-top, .ui-state-default, .ui-tab,*/
.ui-tabs-active,
.ui-state-active,
.ui-state-focus {
  border: 1px solid #F4A876;
  color: #F4A876; }

section .blockSimilarProd,
section .blockViewedProd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.similarProducts h3,
.viewedProducts h3 {
  margin: 50px 0 30px 0;
  font: normal 2.4rem 'AvenirNextCyr';
  line-height: 33px;
  /* identical to box height */
  letter-spacing: 0.05em;
  color: #E5E5E5; }

.blockSimilarProd .article1,
.blockViewedProd .article1 {
  width: 300px;
  position: relative;
  margin: 5px 0;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  -webkit-transform-origin: 5px 10px;
          transform-origin: 5px 10px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.blockSimilarProd .article1:hover,
.blockViewedProd .article1:hover {
  z-index: 6;
  -webkit-transform: scaleY(1.02);
          transform: scaleY(1.02);
  -webkit-box-shadow: 10px 20px 70px rgba(244, 168, 118, 0.2);
          box-shadow: 10px 20px 70px rgba(244, 168, 118, 0.2);
  border: none; }

.blockSimilarProd .article1:hover table,
.blockViewedProd .article1:hover table {
  display: table; }

.blockSimilarProd .article1 .textProd1,
.blockViewedProd .article1 .textProd1 {
  position: relative; }

.blockSimilarProd .article1 table,
.blockViewedProd .article1 table {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 0 10px;
  background: #fff; }

/*---------------------- @media --------------------------*/
@media screen and (min-width: 667px) {
  .blockRight .blockMedium1 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .blockRight .blockUp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .blockUp h1 {
    width: 70%; } }

@media screen and (min-width: 768px) {
  .listItemProd a {
    font-size: 1.8rem; }
  .blockTable table {
    font-size: 1.4rem; } }

/*              @media 1024px                */
/*              @media 1280px                */
@media screen and (min-width: 1280px) {
  .cardProduct .flex14 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-bottom: 50px; }
  .flex14 .blockLeft,
  .flex14 .blockRight {
    width: 50%; }
  .flex14 .blockRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

/*              @media 1360px                */
.sliderProd {
  overflow: hidden;
  margin: 10px auto; }

.sliderProd ul {
  margin: 0;
  padding: 0; }

/* Кнопки управления */
.bx-wrapper {
  position: relative; }

.sliderProd .bx-controls-direction {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 536px; }

.sliderProd .bx-controls-direction a:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%); }

.sliderProd .bx-prev {
  background: url(/prev.png) 0 0 no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: -15px;
  top: 50%;
  left: 30px;
  overflow: hidden;
  text-indent: 999px;
  z-index: 1000; }

.sliderProd .bx-next {
  background: url(/next.png) 0 0 no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: -15px;
  top: 50%;
  right: 30px;
  overflow: hidden;
  text-indent: 999px;
  z-index: 1000; }

/* Превью */
.slider_pager ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

/*.slider_pager ul li {
  display:;
}*/
.slider_pager li {
  margin: 0 1px 10px 0;
  display: inline-block; }

.slider_pager li a img {
  border: 1px solid #ddd;
  width: 100%;
  height: auto; }

.slider_pager .active img {
  border: 1px solid #0546a2; }

/*@import "forms";*/
